
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration:none;
}
ul {
    list-style: none;
  }

body {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
}

.header {
    height: 90px;
}

.header__wrap {
    display: flex;
    flex-direction: row;

}

.header__wrap--logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 19px 36px;
    border-right: 1px solid rgba(196, 196, 196, 1);
    border-left: 1px solid rgba(196, 196, 196, 1);
    border-top: 0px;
}

.main--logo {
    width: 81px;
    height: 55px;
    margin-right: 8px;
}
.text--logo {
    width: 100px;
    height: 28px;
}

.header__wrap--link {
    display: block;
    margin: 0px;
}

.phone {
    display: flex;
    padding: 36px 30px;
    border-right: 1px solid rgba(196, 196, 196, 1);
    

}

.phone--link {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    text-decoration:none;
    color: rgba(0, 0, 0, 1);

}

.address {
    padding: 36px 30px;
    border-right: 1px solid rgba(196, 196, 196, 1);

}

.address--link {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-decoration:none;
    color: rgba(0, 0, 0, 1);
}
.header__wrap--btn {
    cursor: pointer;
}
.header__wrap--button {
    padding: 25px 30px;
    border-right: 1px solid rgba(196, 196, 196, 1);
}

.header__wrap--btn {
    width: 280px;
    height: 40px;
    background-color: rgba(0, 134, 138, 1);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    color: white;
    padding-top: 13px;
    padding-bottom: 11px;
}

.social {
    display: flex;
}

.header__social {
    padding: 33px 30px;
    border-right: 1px solid rgba(196, 196, 196, 1);
}

.header__social--image {
    width: 30px;
    height: 30px;
}

        /*Навигация*/

.menu {
    background: rgba(79, 191, 165, 1);
   
}

.menu__wrap {
    display: flex;
}

.menu--main {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
  
}
.menu__list {
    display: flex;
}

.menu__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}


.menu__item:not(:last-child) {
    padding-right: 65px;
}

.menu__item:last-child {
    padding-right: 75px;
  }

.menu--button {
    margin-top: 24px;
    margin-bottom: 23px;
}

.menu--btn {
    width:175px;
    height: 40px;
    padding: 9px 15px 10px 15px;
    background: rgba(255, 255, 255, 1);
    border: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

/*Main*/
.about {
    background: rgba(79, 191, 165, 1);
}
.about__wrap {
    display: flex;
    flex-direction: column;
}

.about__top {
    display: flex;
    justify-content: space-between;

}

.about__top--text {
    width: 416px;
    height: 266px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.about__top--main {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

 /*Slaider*/


.slider-container {
    height: 533px;
    position: relative;
    width: 746px;
    height: 533px;
    margin: 0 0;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 746px;
    height: 533px;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 80px;
    color: white;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }


  /*End Slider*/



.about__top--btn {
    width: 163px;
    padding: 15px 25px 14px 25px;
    height: 50px;
    text-align: left;
    background: rgba(0, 134, 138, 1);
    border: none;
}

.about__top--link {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.05em;
}


.about__list {
    display: flex;
    height: 80px;
    align-items: center;
    background: rgba(0, 134, 138, 1);
    margin-top: 0px;
}

.about__link {
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}


.first {
    padding-top: 24px;
    width: 648px;
    height: 80px;
}

.first:hover,
.second:hover,
.third:hover {
    background: rgba(79, 191, 165, 1);

}

.second {
    width: 351px;
    height: 80px;
    padding-top: 24px;
}

.third {
    width: 351px;
    height: 80px;
    padding-top: 24px;
}


/*innovation*/

.innovation {
    margin-bottom: 80px;
}

.innovation__wrap {
    display: flex;
    justify-content: space-between;
}

.innovation__left {
    margin-top: 80px;
    width: 526px;
    height: 580px;
    background: rgba(0, 134, 138, 1);
    display: flex;
    flex-direction: column;
}


.innovation__left--top {
    width: 125px;
    height: 40px;
    top: 905px;
    padding: 9px 15px 10px 15px;
    background: rgba(79, 191, 165, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 30px;
    border: none;
}


.innovation__left--text {
    margin-left: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
    margin-bottom: 25px;
}


.innovation__left--btn {
    width: 170px;
    height: 40px;
    margin-left: 40px;
    background: rgba(0, 134, 138, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.innovation__left--img {
    margin-right: 20px;
    width: 50px;
    height: 40px;
}

.innovation__left--link {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
}


.innovation__right {
    width: 636px;
    height: 485px;
    margin-top: 115px;
    margin-bottom: 140px;
    background-image: url(images/patent.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size:306px 400px;
}

.innovation__right--top {
    width: 186px;
    height: 40px;
    background: rgba(79, 191, 165, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color:  rgba(255, 255, 255, 1);
    border: none;
    margin-bottom: 30px;

}

.innovation__right--numders {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.innovation--main {
    display: flex;
    align-items: center;
}

.innovation--number {
    width: 50px;
    height: 72px;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    margin-right: 20px;
   color: rgba(0, 0, 0, 0.25);
}


.innovation--text {
    width: 155px;
    height: 42px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.25);

}

.main--number {
    font-size: 96px;
    font-weight: 500;
    line-height: 144px;
    width: 111px;
    height: 144px;
    color: rgba(0, 134, 138, 1);


}

.innovation--text--main {
    font-size: 26px;
    font-weight: 500;
    line-height: 42px;
    width: 319px;
    height: 84px;
}

/*news(accordion)*/
.news {
    margin-bottom: 100px;
}
.news__wrap {
    float: left;
    display: flex;
    flex-direction: column;
    width: 526px;
    height: 504px;
    background: rgba(79, 191, 165, 1);
}


.news__btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    width: 101px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    background-color:  rgba(0, 134, 138, 1);
    margin-left: 40px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.tab {
    float: left;
    border: none;
    background: rgba(79, 191, 165, 1);
}
.tab button {
    display: block;
    background-color: inherit;
    color:  rgba(255, 255, 255, 1);
    padding: 35px 40px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500px;
    font-size: 18px;
    line-height: 27px;
}

.tab button:hover {
    background-color:  rgba(0, 134, 138, 1);
}
.tab button.active {
    background-color:  rgba(0, 134, 138, 1);
}

.tabcontent {
    float: left;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
    width: 810px;
    border-left: none;
    height: 504px;
    background-color:  rgb(230, 249, 250);

}

.tab__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 25px;

}

.tab--item::before {
    color: rgba(0, 134, 138, 1);
    content: "▪";
    padding-right: 15px;
}


.tab--item {
    padding-bottom: 20px;
}


/*Others*/

.others {
    background: linear-gradient(to bottom,  rgb(230, 249, 250) 70%, white 30% );
}


.others__wrap {
    height: 556px;
    margin-top: 650px;
    margin-bottom: 100px;
}

.others--title {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 134, 138, 1);
    padding-top: 80px;
    padding-bottom: 60px;

}

.others--list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.others--item {
    width: 306px;
    height: 344px;
    border: 1px solid rgba(255, 255, 255, 1);

}


.others--btn {
    width: 160px;
    height: 50px;
    background: rgba(79, 191, 165, 1);
    color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 160px;
    font-size: 18px;
    font-weight: 400px;
}

.others--subtitle {
    background-color: rgba(0, 134, 138, 1);
    display: flex;
    height: 104px;
}

.others--text{
    color: white;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    width: 181px;
    height: 64px;
    padding-left: 30px;
    padding-top: 25px;
}

.others--img {
    width: 50px;
    height: 40px;
    margin-top: 37px;
    margin-left: 45px;

}

.item-1 {
    background-image: url(../images/btn-1.png);
    background-repeat: no-repeat;
    background-size: 306px 240px;
}
.item-2 {
    background-image: url(../images/btn-2.png);
    background-repeat: no-repeat;
    background-size: 306px 240px;
}
.item-3 {
    background-image: url(../images/btn3.png);
    background-repeat: no-repeat;
    background-size: 306px 240px;
}
.item-4 {
    background-image: url(../images/btn4.png);
    background-repeat: no-repeat;
    background-size: 306px 240px;
}

/*footer*/
footer {
    margin-bottom: 20px;
}


.footer__wrap {
    display: flex;
    flex-direction: column;
}

.footer--top{
    display: flex;
    justify-content: center;

}

.footer__list {
width: 250px;
height: 200px;

}

.footer__list:not(:last-child){
    margin-right: 50px;
}

.footer__list--title {
font-size: 18px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
display: flex;
height: 33px;
margin-bottom: 50px;
}


.footer--item {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

.footer__contacts{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.footer__contacts--list {
    width: 300px;
    height: 200px;
}

.footer__contacts--list:not(:last-child){
     margin-right: 50px;
}

.footer__contacts--title {
 
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.footer__contacts--phone {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: black;
}
.footer__contacts--subtitle {

    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;

}

.contacts--btn {
    width: 164px;
    height: 55px;
    padding: 15px 20px 14px 20px;
    color: white;
    background: rgba(0, 134, 138, 1);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    cursor: pointer;
}

.footer--link {
    color: black;
    text-decoration: none;
}


.wrap__bottom {
    border-top: 1px solid rgba(196, 196, 196, 1);
}


#card,
#card2 {
    display: none;
    width: 700px;
    height: 400px;
    margin-left: 300px;
    margin-bottom: 50px;
}



/*popup*/

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
 .popup {
    display: flex;
    flex-direction: column; 
}

  .hidden {
    display: none;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 550px;
    background: linear-gradient(315deg, rgb(213, 247, 239), rgb(255, 255, 255));
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.8);
    z-index: 100;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  

  .popup--input {
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-color: none;
  }

  .label__text{
    font-size: 18px;
  }

  .popup--select {
    width: 300px;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
  }

  .label__text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
  }

  .popup--btn {
    width: 160px;
    height: 50px;
    background: rgba(79, 191, 165, 1);
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
    font-size: 18px;
    font-weight: 700px;

  }

  #date {
    width: 300px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .label__cal,
   .popup--input {
    font-size: 18px;
    font-weight: 700;
    color: black;
    font-family: 'Mulish', sans-serif;
  }

/*Menu*/

.overlay-content {
    display: none;
}

.menu--icon {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.nav--btn {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.cosmetologiya--text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 400;
  }

.cosmetologiya--video {
    width: 600px;
    height: 315px;
    margin-bottom: 40px;
}

.cosmetologiya--title {
    font-size: 30px;
    margin-bottom: 30px;
    color:  rgba(0, 134, 138, 1);
  }

.cosmetologiya__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cosmetologiya--item {
    display: flex;
    flex-direction: column;

}

.cosmetologiya-link {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(0, 134, 138, 1);
}
.cosmetologiya__list--text{
    font-size: 18px;
}

.cosmetologiya--item:last-child{
    margin-bottom: 40px;
}

.salon__about {
    background-color:  rgba(79, 191, 165, 1);
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}

.salon__about--title {
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
}

.salon__about--text{
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}

.salon__cart {
    margin-bottom: 50px;
}

.salon--list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.salon--item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    background-color: rgba(79, 191, 165, 0.5);
    align-items: center;
    border-radius: 30px;
}

.salon--img {
    height: 200px;
    border-radius: 30px;
}

.salon--link{
    text-decoration: none;
    font-size: 30px;
    color:black;
    font-weight: 700px;
    text-transform: uppercase;
}

.salon--main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.salon--address,
.salon__phone,
.salon__phone--link {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight: 500;
    text-align: right;
}
.salon--item {
    margin-bottom: 50px;
}